[{boss, [
    {path, "/var/www/ChicagoBoss"},
    {applications, [spawnfest]},
    {vm_cookie, "spawnfest_cookie"},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_adapter, mongodb},
    {db_database, spawnfest_test},
    {db_read_mode, master},
    {db_write_mode, safe},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_spawnfest_boss_session"},
    {session_exp_time, 525600}
]},
{ spawnfest, [
    {path, "../spawnfest"},
    {base_url, "/"}
]}
].
