{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
    <h2>Adding member to Team &quot;{{team.name}}&quot;</h2>
  <section>
  <aside>
    Current Members:
    {% if team %}
    <ul>
      {% for member in team.members %}
      <li>{{member.first}} {{member.last}} ({{member.email}})</li>
      {% empty %}
      No Members
      {% endfor %}
    </ul>
    {% endif %}
  </aside>
  <section>
    <form method="post" class="form well" id="add_form" name="add_form" >
      <label for="member" id="member_label" name="member_label">Available Members</label>
      {% if members %}
      <select name="member" id="member">
	<option value=""></option>
	{% for member in members %}
	<option value="{{member.id}}">{{member.first}} {{member.last}} ({{member.email}})</option>
	{% endfor %}
      </select>
      {% endif %}
      <br />
      <input type="submit" class="btn btn-primary" value="Add Member to Team &quot;{{team.name}}&quot; " />
    </form>
  </section></section>
</div>
{% endblock %}
