{% extends "layout/application.html" %}
{% block content %}
  <h2>Team {{team.name}}</h2>

  <p>
    <h3>Project</h3>
    {{team.project}}<br />
  </p>

  <p>
    <h3>Rank</h3>
    {{team.rank.name}}<br />
  </p>

  <p>
    <h2>Members</h2>
    <ul>
    {% for member in team.members %}
    <li class="unstyled">{{member.first}} {{member.last}} <a href="{% url controller="member" action="email" id=member.id%}">{{member.email}}</a></li>
    {% endfor %}
    </ul>
  </p>


  <p>
    {% if _before %} {% if _before|is_admin %}<a href="{% url action="edit" id=team.id %}" class="btn btn-primary">Edit Team Info</a>
    <a href="{% url action="addmember" id=team.id %}" class=btn btn-inverse>Add Member to Team</a>
	{% endif %} {% endif %}
  </p>
{% endblock %}
