{% extends "layout/application.html" %}
{% block content %}
<form method="post" id="login_form" name="login_form" class="form well">
  <input type="text" id="email" name="email" class="input-xlarge" maxlength="255" placeholder="Email address here..." value="" required="required" />
  <br />
  <input type="password" id="password" name="password" class="input-xlarge" maxlength="255" placeholder="Your Password" value="" required="required" />
  <input type="submit" name="" value="Log in..." />
</form>
{% endblock %}
