{% extends "layout/application.html" %}
{% block content %}

<h2>Assigned Members: {{assigned|length}}</h2>
{% if assigned %}
<ol>
{% for member in assigned %}
<li>{{member.first}} {{member.last}} on Team {{member.team.name}}</li>
{% endfor %}
</ol>
{% endif %}

<h2>Unassigned Members: {{unassigned|length}}</h2>
{% if unassigned %}
<ol>
  {% for member in unassigned %}
  <li>
    {{member.first}} {{member.last}} Actions: <a href="mailto:{{member.email}}">Email</a>
    <a href="{% url action="show" id=member.id %}">Show</a>
  </li>
  {% endfor %}
</ol>
{% endif %}

{% endblock %}
