{% extends "layout/application.html" %}
{% block content %}

<h2>Assigned Members: {{assigned|length}}</h2>
{% if assigned %}
<ol>
{% for member in assigned %}
<li>
  {{member.first}} {{member.last}} on Team
  <a href="{% url controller="team" action="view" id=member.team.id %}">{{member.team.name}}</a>
  <a href="{% url action="email" id=member.id %}"><i class="icon-envelope"></i>Email</a>
  <a href="{% url action="show" id=member.id %}">Show</a>
</li>
{% endfor %}
</ol>
{% endif %}

<h2>Unassigned Members: {{unassigned|length}}</h2>
{% if unassigned %}
<ol>
  {% for member in unassigned %}
  <li>
    {{member.first}} {{member.last}} Actions:
    <a href="{% url action="email" id=member.id %}"><i class="icon-envelope"></i>Email</a>
    <a href="{% url action="show" id=member.id %}">Show</a>
    <a href="{% url action="assign" id=member.id %}">Assign to Team</a>
    <a href="{% url action="destroy" id=member.id  %}"><i class="icon-trash icon-large"></i>&nbsp;Delete</a>
  </li>
  {% endfor %}
</ol>
{% endif %}

<a href="{% url action="create" %}" class="btn" >Create a Member</a>
{% endblock %}
